<a href="https://colab.research.google.com/github/Jadev03/Pandas_Tutorials/blob/main/LearnPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/refs/heads/master/pandas/1_intro/nyc_weather.csv')
#view data frame object value
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [11]:
# data frame object functionality
df['Temperature']
float(df['Temperature'].mean())

34.67741935483871

In [13]:
#Indexes show how many rows are here
df.index

RangeIndex(start=0, stop=31, step=1)

In [14]:
# what are the colum
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [15]:
df[['Temperature','CloudCover']]

    Temperature  CloudCover
0            38           5
1            36           3
2            40           1
3            25           3
4            20           0
5            33           0
6            39           3
7            39           8
8            44           8
9            50           7
10           33           1
11           35           4
12           26           0
13           30           7
14           43           2
15           47           7
16           36           6
17           25           2
18           22           1
19           32           2
20           31           1
21           26           3
22           26           8
23           28           3
24           34           2
25           43           2
26           41           3
27           37           1
28           36           4
29           34           0
30           46           0

In [18]:
#show statistic about the data .but in this case only consider numerical value. not consider other data type like string
#if numerical value coloum missing any value it beacome an error. we need to convert to Zero.
#consider only numerical value coloumn
numerical_df = df.select_dtypes(include='number')
numerical_df.fillna(0)
numerical_df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [19]:
#find non numerical columns
df.select_dtypes(exclude='number')

          EST PrecipitationIn    Events
0    1/1/2016               0       NaN
1    1/2/2016               0       NaN
2    1/3/2016               0       NaN
3    1/4/2016               0       NaN
4    1/5/2016               0       NaN
5    1/6/2016               0       NaN
6    1/7/2016               0       NaN
7    1/8/2016               0       NaN
8    1/9/2016               T      Rain
9   1/10/2016             1.8      Rain
10  1/11/2016               0       NaN
11  1/12/2016               T       NaN
12  1/13/2016               0       NaN
13  1/14/2016               T       NaN
14  1/15/2016               T       NaN
15  1/16/2016            0.24      Rain
16  1/17/2016            0.05  Fog-Snow
17  1/18/2016               T      Snow
18  1/19/2016               0       NaN
19  1/20/2016               0       NaN
20  1/21/2016               0       NaN
21  1/22/2016            0.01      Snow
22  1/23/2016            2.31  Fog-Snow
23  1/24/2016               T      Snow
24  1/25/2016               0       NaN
25  1/26/2016               0       NaN
26  1/27/2016               T      Rain
27  1/28/2016               0       NaN
28  1/29/2016               0       NaN
29  1/30/2016               0       NaN
30  1/31/2016               0       NaN